<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle de Película</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <div class="mt-3 mb-3">
    <h3>Detalle de Película</h3>
  </div>

  <form th:object="${film}">

    <div class="mb-3 row">
      <label for="filmId" class="col-sm-2">Codigo de Película</label>
      <div class="col-sm-9">
        <input type="text" readonly id="filmId" class="form-control" th:field="*{filmId}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="title" class="col-sm-2">Título</label>
      <div class="col-sm-9">
        <input type="text" readonly id="title" class="form-control" th:field="*{title}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="description" class="col-sm-2">Descripción</label>
      <div class="col-sm-9">
        <input type="text" readonly id="description" class="form-control" th:field="*{description}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="releaseYear" class="col-sm-2">Año de Lanzamiento</label>
      <div class="col-sm-9">
        <input type="text" readonly id="releaseYear" class="form-control" th:field="*{releaseYear}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="rentalDuration" class="col-sm-2">Tiempo de Renta</label>
      <div class="col-sm-9">
        <input type="text" readonly id="rentalDuration" class="form-control" th:field="*{rentalDuration}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="rentalRate" class="col-sm-2">Precio de Renta</label>
      <div class="col-sm-9">
        <input type="text" readonly id="rentalRate" class="form-control" th:field="*{rentalRate}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="length" class="col-sm-2">Duración (min)</label>
      <div class="col-sm-9">
        <input type="text" readonly id="length" class="form-control" th:field="*{length}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="rating" class="col-sm-2">Clasificación</label>
      <div class="col-sm-9">
        <input type="text" readonly id="rating" class="form-control" th:field="*{rating}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="languageName" class="col-sm-2">Idioma</label>
      <div class="col-sm-9">
        <input type="text" readonly id="languageName" class="form-control" th:field="*{languageName}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="languageId" class="col-sm-2">ID de Idioma de la Película</label>
      <div class="col-sm-9">
        <input type="text" readonly id="languageId" class="form-control" th:field="*{languageId}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="inventoryIds" class="col-sm-2">IDs de Inventarios</label>
      <div class="col-sm-9">
        <input type="text" readonly id="inventoryIds" class="form-control" th:field="*{inventoryIds}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="categoryIds" class="col-sm-2">IDs de Categorías</label>
      <div class="col-sm-9">
        <input type="text" readonly id="categoryIds" class="form-control" th:field="*{categoryIds}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="actorIds" class="col-sm-2">IDs de Actores</label>
      <div class="col-sm-9">
        <input type="text" readonly id="actorIds" class="form-control" th:field="*{actorIds}">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="btnRegresar" class="col-sm-2"></label>
      <div class="col-sm-9">
        <button type="button" id="btnRegresar" class="btn btn-primary w-25"
                onclick="location.href='/maintenance/start'">
          Regresar
        </button>
      </div>
    </div>

  </form>

</div>

</body>
</html>
